{% extends 'base.html' %}

{% load static %}


{% block post_list_content %}
<div class = "container-search">

<div class = "search-content">
        <center>
        <form>
  <div class="form-row">
  <div class="input-group mb-3">
  <input type="text" style = 'height: 40px;' class="form-control" placeholder="Search" name="search">
  <div class="input-group-append">
  </div>
</div>
<select style = 'width: 20%;' class="form-control form-control-sm">
  <option>Small select</option>
</select>
<select style = 'width: 20%; margin-left: 5%;' class="form-control form-control-sm">
  <option>Small select</option>
</select>
<select style = 'width: 20%; margin-left: 5%;' class="form-control form-control-sm">
  <option>Small select</option>
</select>
  </div>
</form action="/search/" method="get">
</center>
          <div class="table-responsive">
            <table >
        <tbody>
          {% for post in context %}
          <tr class = 'title'>
            <td class = 'title' colspan = "4"><a style = 'text-decoration: none;' href="{{ post.url }}">{{ post.title }}</a></td>
          <tr class = 'description'>
            <td>author: {{ post.author }}</td>
            <td>surce_id: {{ post.item_id }}</td>
            <td>site: {{ post.site_name }}</td>
            <td>id: {{ post.id }}</td>
          </tr>
          </tr>
          {% endfor %}
        </tbody>
      </table>
          </div>
         
          </div>
         
          </div>
         
      {% endblock %}